.operatorBtnContainer {
  display: grid;
  width: 200px;
  height: 400px;
  grid-template-areas:
    "multiply multiply multiply"
    "divide divide divide"
    "subtract subtract subtract"
    "addition addition addition"
    "equal equal clear";
}

@media only screen and (max-width: 600px) {
  .operatorBtnContainer {
    width: 100px;
    height: 200px;
  }
}
